#perfil{
    border-radius: 180px;

}
.divcentralizada{
    text-align: center;

}
.divText{
    padding-left:10px;
    padding-top: 10px;
    background-color: #ccc ;
}
.inputsmeiatela{
    width: 50%;

}